.mainsearch{
    margin-top: 60vh;
    margin-right: 20rem;
    margin-left: 20rem;
    padding: 4rem;
    border-radius: 30px;
    background-color: rgba(228, 228, 228, .75)
}

.major-button{
    background-color: #FF813A;
    padding: .5rem 3rem;
    border-radius: 50px;
    font-size: 1.5rem;
    color: white;
    margin-left: 1rem;
}

.major-button.cat{
    margin-left: 0 !important;
}

.major-button.petlogger{
    margin-right: 8rem;
}

.main-upper-multi-button{
    top: -2rem;
    position: absolute;
}
.flex.justify-between.search{
    width: 100%;
}

.dropdown.city select{
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 0.5rem 3rem 0.5rem 2rem;
    appearance:none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-image: url(../svg/others/caret-down-solid.svg); 
    background-repeat: no-repeat;
    background-position:right 0.8rem top;
    /* padding-right: 20px;  */
    border: none;
    overflow: hidden;
    outline: none;
}

/* .searcharea{
    margin-left: 5rem;
    
} */

.searcharea from{
    overflow: hidden;
}
.searcharea form input{
    border-radius: 25px 0 0 25px;
    padding: 0.5rem 33rem 0.5rem 2rem;
    font-size: 1.5rem;    
    outline: none;
    margin-left: 2rem;
}

@media (max-width:1490px){
    .searcharea form input{
        padding-right: 5rem;
    }
}

@media (max-width:1675px){
    .searcharea form input{
        padding-right: 21rem;
    }
}

@media (max-width:1661px){
    .searcharea form input{
        padding-right: 15rem;
    }
}
@media (max-width:1565px){
    .searcharea form input{
        padding-right: 10rem;
    }
}
@media (max-width:1485px){
    .searcharea form input{
        padding-right: 4rem;
    }
}
@media (max-width:1396px){
    .searcharea form input{
        padding-right: 0rem;
    }
}

.searcharea{
    width: fit-content;
}

.searchbutton{
    background-color: white !important;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0 25px 25px 0;
    margin-left: -4px;
}

.searchbutton i:hover{
    color: #FF813A;
    transition: .5s;
}

