html{
    box-sizing: border-box;
    font-family: 'Comme', sans-serif;
}

.def-nav-main{
    background-color: rgba(255, 121, 46, .5)
}

.logo{
    color: white;
    height: 5rem;
    cursor: pointer;
}

.button{
    background-color: white;
    font-size: 1.2rem;
    padding: 1rem 0 1rem 0;
}


.button.left{
    border-radius: 50px 0 0 50px;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-right: -5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button.right{
    border-radius: 0 50px 50px 0;
    padding-right: 2rem;
    padding-left: 1rem;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.user-pic{
    display:none;
}

@media (max-width: 768px){
    .button.left{
        display: none;
    }
    .button.right{
        display: none;
    }

    .user-pic{
        display: block;
    }

    .brand{
        margin-right: auto;
        margin-left: auto;
    }
}

.brand.login{
    margin-right: auto;
    margin-left: auto;
}